<header class=" py-5">
    <div class=" text-center">
        <h2>Discover the best <span>free-to-play</span> games!</h2>
        <p class="p-1 text-muted">Track what you've played and search for what to play next! Plus get free premium loot!</p>
        <div>
            <a routerLink="/register">
                <button class="btn btn-primary fw-bold m-1 p-3">GET STARTED FREE</button>
            </a>
            <a routerLink="/search">
                <button class="btn btn-outline-secondary fw-bold m-1 p-3">Browse Games</button>
            </a>
        </div>
    </div>
</header>