<div class="bg-dark py-4 ">
  <div class="container m-auto row">
    <ul class="col-md-3 col-12">
      <li>About Us</li>
      <li>API</li>
      <li>Contact Us</li>
    </ul>
    <ul class="col-md-3 col-12">
      <li>FAQ</li>
      <li>Support</li>
      <li>Site map</li>
    </ul>
    <ul class="col-md-3 col-12">
      <li>Policy</li>
      <li>Cookies</li>
      <li>Terms of Use</li>
    </ul>
    <div class="col-md-3 col-12">
      <img src="assets/logo-footer.png" class="w-25 m-auto pb-2" alt="" />
    </div>
    <hr />
    <div class="d-flex justify-contect-between">
      <p class="small-text text-muted">
        © 2023 Digiwalls Media, all rights reserved. All trademarks are property
        of their respective owners.
      </p>
      <ul class="d-flex ms-auto col-2 justify-content-around">
        <li>
          <i class="fa-brands fs-4 fa-square-facebook"></i>
        </li>
        <li>
          <i class="fa-brands fs-4 fa-square-twitter"></i>
        </li>
        <li>
          <i class="fa-brands fs-4 fa-square-google-plus"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
