<section class="text-white-50 w-75 m-auto">
  <div class="my-3">
    <h2 class="fs-1">General Settings</h2>
    <p>
      Manage your account including your display name, contact info and more.
    </p>
  </div>
  <div class="my-3">
    <h2>Your Avatar</h2>
    <input
      class="form-control bg-dark"
      type="file"
      placeholder=" Choose file"
    />
    <p class="small-text">Maximum image size is 500 KB</p>
    <div class="">
      <button class="btn btn-secondary d-block ms-auto me-5">Upload Avatar</button>
    </div>
  </div>
  <div class="my-3">
    <h2>Account Details</h2>
    <p>Display Name</p>
    <input
      class="form-control bg-dark"
      type="file"
      placeholder=" Choose file"
    />
    <p class="small-text">
      This name is your public identity in FreeToGame. Please note this does not
      change your username.
    </p>
    <button class="btn btn-secondary d-block ms-auto me-5">Save Changes</button>
</div>
  <div class="my-3">
    <h2>Update Email</h2>
    <p>
      For security reasons you must provide your current email address to make
      any changes.
    </p>
    <p>Your Email is ***@***.***</p>
    <input type="email" placeholder=" Current Email" class="form-control bg-dark"/>
    <input type="email" placeholder=" New Email Address" class="form-control bg-dark" />
    <button class="btn btn-secondary d-block ms-auto me-5">Save Chaanges</button>
  </div>
  <div class="my-3">
    <h2>Update Password</h2>
    <p>
      For your security, we highly recommend that you choose a unique password
      that you don't use for any other online account.
    </p>
    <input type="password" placeholder=" Current password" class="form-control bg-dark" />
    <input type="password" placeholder=" New password"  class="form-control bg-dark"/>
    <input type="password" placeholder=" Confirm New password"  class="form-control bg-dark"/>
    <button class="btn btn-secondary d-block ms-auto me-5">Save Chaanges</button>
  </div>
  <div class="my-3">
    <h2>Delete Account</h2>
    <p>Start the process of deleting your account permanently.</p>
    <button class="btn btn-secondary d-block ms-auto">Request Account Delete</button>
  </div>
</section>
