body{
    background-color:#272b30 !important ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important ;
    color:#fff!important  ;
}
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.small-text{
    font-size: 13px;
}
.sec-bg-color{
    background: #32383e !important;
}
.bigger:hover{
    transform: scale(1.02);
    transition: all 15ms ;
    }
    ul{
        list-style: none;
    }

.h-500{
    height: 500px;
}